<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:title" property="og:title" content="Personal Budget">
  <meta name="robots" content="noindex, nofollow">
  <meta name="description" content="A personal-budget management app to help track your spending.">
  <link rel="canonical" href="https://personalbudget.com/">
  <title>Personal Budget</title>
</head>
<body>
  <h1>HomePage</h1>
  <p>The following graphs are some visualizations of your current budget. If you wish to add new budget items, click on the "Add Budget"
    tab in the navigation bar.
  </p>
  <p>Also, you can click on the "View Budget" tab in the navigation bar to see a table of your budget items.
    Lastly, you can modify or delete budget items from the "View budget" tab.
  </p>

  <app-bar></app-bar>
  <app-pie></app-pie>
  <app-scatter></app-scatter>

</body>
</html>
